BODY 99 Explorer
PARENT = EARTH
MASS = 1000
RADIUS = 150
SEMI_MAJ = 6.7891e3
ECC = 0.01
INC =5 
LONG_ASC_NODE = 3.487103142751305E+02
ARG_PERI = 20
TRUE_ANOM = 0
END

#Events -> (event type):(event label):(event parameters)
#i.e Manouvers -> MNV:(label):(Prograde):(Radial):(Normal):(Trigger Type):(Trigger Param)
# Coasting/waiting for events -> COAST:(label):(Trigger Type):(Trigger Param)

MNV:PHASE TRANSFER:3070:0:0:PHASE:MOON:115:EARTH
COAST:MOON ENCOUNTER:BDYSWP
MNV:MOON CAPTURE:-400:0:0:CLA:10e7



